<!-- <h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Firstname</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="employee.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Surname</label>
      <input type="text" class="form-control" id="surname" required [(ngModel)]="employee.surname" name="surname">
    </div>

    <div class="form-group">
      <label for="name">DateOfBirth</label>
      <input type="text" class="form-control" id="dateOfBirth" required [(ngModel)]="employee.dateOfBirth" name="dateOfBirth">
    </div>

    <div class="form-group">
      <label for="name">AdharCard</label>
      <input type="text" class="form-control" id="adharCard" required [(ngModel)]="employee.adharCard" name="adharCard">
    </div>

    <div class="form-group">
      <label for="name">DateOfJoining</label>
      <input type="text" class="form-control" id="dateOfJoining" required [(ngModel)]="employee.dateOfJoining" name="dateOfJoining">
    </div>

    <div class="form-group">
      <label for="name">PassportNo</label>
      <input type="text" class="form-control" id="passportNo" required [(ngModel)]="employee.passportNo" name="passportNo">
    </div>

    <div class="form-group">
      <label for="name">PanNumber</label>
      <input type="text" class="form-control" id="panNumber" required [(ngModel)]="employee.panNumber" name="panNumber">
    </div>

    <div class="form-group">
      <label for="name">PlaceOfWorking</label>
      <input type="text" class="form-control" id="placeOfWorking" required [(ngModel)]="employee.placeOfWorking" name="placeOfWorking">
    </div>

    <div class="form-group">
      <label for="name">MobileNo</label>
      <input type="text" class="form-control" id="mobileNo" required [(ngModel)]="employee.mobileNo" name="mobileNo">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div> -->
